/*
* @Author: 蒙卓明
* @Date:   2018-11-04 12:19:04
* @Last Modified by:   蒙卓明
* @Last Modified time: 2018-11-04 12:55:48
*/
.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}
